.sidebar-info {
  padding: 1rem;
  background-color: #f9f9f9;
  border-left: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
}

.sidebar-info h2 {
  margin-top: 0;
}

.sidebar-info ul {
  padding-left: 1.2rem;
  margin-bottom: 0.8rem;
}

.sidebar-info p {
  margin-bottom: 0.8rem;
}
